---
layout: default
---
<header>
  <h1>  <span class="block-line"><span><span style="color:#FF0000">s</span><span style="color:#FF4300">i</span><span style="color:#FF8500">l</span><span style="color:#FFC800">l</span><span style="color:#F4FF00">y</span><span style="color:#B1FF00">t</span><span style="color:#6FFF00">r</span><span style="color:#2CFF00">a</span><span style="color:#00FF16">n</span><span style="color:#00FF59">s</span><span style="color:#00FF9B">p</span><span style="color:#00FFDE">o</span><span style="color:#00DEFF">r</span><span style="color:#009BFF">t</span><span style="color:#0059FF">s</span><span style="color:#0016FF">t</span><span style="color:#2C00FF">u</span><span style="color:#6F00FF">f</span><span style="color:#B100FF">f</span><span style="color:#F400FF">.</span><span style="color:#FF00C8">c</span><span style="color:#FF0085">o</span><span style="color:#FF0043">m</span></span>
</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}