---
layout: default
---
<header>
  <h1>  <div class="rainbow-text" style="text-align: center;">
  <span class="block-line"><span><span style="color:#2274A5;">s</span><span style="color:#F75C03;">i</span><span style="color:#F1C40F;">l</span><span style="color:#D90368;">l</span><span style="color:#00CC66;">y</span><span style="color:#D90368;">t</span><span style="color:#F1C40F;">r</span><span style="color:#F75C03;">a</span><span style="color:#2274A5;">n</span><span style="color:#F75C03;">s</span><span style="color:#F1C40F;">p</span><span style="color:#D90368;">o</span><span style="color:#00CC66;">r</span><span style="color:#D90368;">t</span><span style="color:#F1C40F;">s</span><span style="color:#F75C03;">t</span><span style="color:#2274A5;">u</span><span style="color:#F75C03;">f</span><span style="color:#F1C40F;">f</span><span style="color:#D90368;">.</span><span style="color:#00CC66;">c</span><span style="color:#D90368;">o</span><span style="color:#F1C40F;">m</span></span></span>
</div>
</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}