---
layout: default
---
<header>
  <h1>  <span class="block-line"><span><span style="color:#ff0000;">c</span><span style="color:#ff6600;">o</span><span style="color:#ffcc00;">d</span><span style="color:#ccff00;">i</span><span style="color:#66ff00;">n</span><span style="color:#00ff00;">g</span><span style="color:#00ff66;">n</span><span style="color:#00ffcc;">o</span><span style="color:#00ccff;">m</span><span style="color:#0066ff;">a</span><span style="color:#0000ff;">d</span><span style="color:#6600ff;">.</span><span style="color:#cc00ff;">n</span><span style="color:#ff00cc;">e</span><span style="color:#ff0066;">t</span></span></span>
</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}